@import '../../variables.scss';

.wn_topbar {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: $topbar-height-desktop;
    background-color: $topbar-bg-color;
    z-index: 1;

    > img {
        width: 165px;
    }
}