@import '../../variables.scss';

.wn_card {
    position: relative;
    background-color: $card-bg-color;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.2);

    //Smartphones
    @media screen and (max-width: 767px) {
        width: 100%;
    }

    > .loading {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .8);

        > span {
            display: block;
            width: 60px;
            height: 60px;
            background-image: url('/images/loader.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    > .header {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid $divider-color;
    }

    > .temperature {
        font-size: 64px;
        text-align: center;
        padding: 32px 0;

        &--blue {
            color: $blue-color;
        }

        &--orange {
            color: $orange-color;
        }

        &--red {
            color: $red-color;
        }
    }

    > .details {
        background-color: $card-footer-bg-color;
        padding: 16px 32px;

        > .humidityPressure {
            display: flex;
            padding-bottom: 16px;

            > .humidity,
            > .pressure {
                > p {
                    text-align: center;
                    opacity: 1;

                    &:first-of-type {
                        font-size: 11px;
                        text-transform: uppercase;
                        opacity: .5;
                    }

                    > span {
                        font-size: 11px;
                    }
                }
            }

            > .pressure {
                margin-left: auto;
            }
        }

        > .lastUpdate {
            font-size: 9px;
            text-align: center;
            opacity: .5;
        }
    }
}