$topbar-height-desktop: 55px;

//Colors
$app-bg-color: #f1f1f1;

$topbar-bg-color: #ffffff;

$divider-color: #ebebeb;
$box-shadow-color: #333333;
$card-footer-bg-color: #f1f1f1;

$blue-color: #69a3ff;
$orange-color: #ff9632;
$red-color: #ed1946;

$primary-text-color: #737c84;
$secondary-text-color: #b4b4b4;